:root {
    --link-color: #0084ff;
    --white: #ffffff;
    --black: #000000;
    --grey: #333333;
}

body {
    display: block;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: var(--white);
    color: var(--black);
    margin: 0px;
}

p {
    text-align: center;
}

.align-left {
    text-align: left;
}

#content {
    padding-left: 30%;
    padding-right: 30%;
}

.logo {
    padding: 2%;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

div#animation {
    background-color: var(--black);
    text-align: center;
    padding-bottom: 5px;
}

canvas#neural-network {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 40%;
    display: block;
    image-rendering: crisp-edges;
}

#title {
    font: 24px "Fira Code", "hack", monospace;
    color: var(--white);
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: var(--grey);
}

nav ul li a {
    display: block;
    color: var(--white);
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: var(--black);
}

div#bio {
    display: flex;
    align-items: center;
    gap: 1%;
}

div#bio p {
    width: 89%;
}

div#bio img {
    width: 10%;
}

div#publications ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#publications ul li {
    padding-bottom: 1%;
}

@media only screen and (max-width: 1200px) {
    #content {
        padding-left: 5%;
        padding-right: 5%;
    }

    canvas#neural-network {
        width: 95%;
    }

    #animation {
        font-size: 20px;
    }
}

@media only screen and (max-width: 2000px) {
    div#bio img {
	width: 20%;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #181a1b;
        color: var(--white);
    }
}
